/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

body{
	margin: 0px;
	position: relative;
}

#recipiente{
	position: relative;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	width: 800px;
	background-image: linear-gradient(to bottom, #f6f1b2, #4599b2);
	border-color: #d3d3d3;
	border-style: solid;
	border-width: 1px;
}

em{
	color: #d027aa;
}

header h1{
	font-family: "Ravie";
	font-size: 36px;
	text-decoration: none;
	color: #e90c0c;
	margin-left: 15px;
	padding-top: 15px;
}

header h2{
	font-family: "Trebuchet MS";
	font-size: 24px;
	text-decoration: none;
	color: #333;
	text-align: right;
	margin-right: 60px;
	display: block;

}

header{
	position: relative;
	margin-left: 154px;
	width: 646px;
	height: 90px;
	box-sizing: border-box;
	line-height: 1em;
}

#lateral h2{
	font-size: 48px;
	margin: 280px auto auto auto;
	font-weight: bold;
	transform: rotate(-90deg);
}

#lateral{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 154px;
	bottom: 0px;
	box-sizing: border-box;
}

#siri{
	position: absolute;
	left: -10px;
	top: 17px;
}

#bolhas{
	position: absolute;
	right: 20px;
	bottom: 125px;
}

#peixe{
	position: absolute;
	left: -44px;
	bottom: 0px;
}

.preco{
	position: absolute;
	right: 15px;
	display: inline-block;
}

#cardapio{
	width: 646px;
	margin-left: 154px;
	position: relative;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	border-color: #aac0ae;

	padding: 15px;
	font-size: 14px;
	line-height: 2em;
	background-color: rgba(255, 255, 255, 0.2);
}


article h3{
	font-size: 18px;
	text-decoration: bold;
}

article{
	font-family: "Verdana";
	color: #333;
	box-sizing: border-box;
	width: 646px;
}

footer img{
	position: absolute;
	bottom: 25px;
	right: 15px;
}

footer{
	position: relative;
	width: 100%;
	height: 131px;
	bottom: 0px;
}

#ticket:hover{
	left: 0px;
}

#ticket{
	position: absolute;
	top: 259px;
	left: -69px;
}
